.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  break-inside: avoid-column;
}
.content {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  font-family: 'Open Sans', sans-serif;
}
.authorDate {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.author {
  font-weight: 800;
  font-size: 1.2rem;
}
.date {
  opacity: 0.9;
  font-weight: 500;
}
