.addCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
  height: 100%;
  margin-bottom: 2rem;
  margin-top: 1rem;
  background-color: #ffd7eaab;
  border-radius: 5px;
  padding: 2rem 1rem 3rem 1rem;

  box-shadow: 0 20px 10px rgba(36, 3, 128, 0.24);
}
.title {
  text-align: center;
  font-size: clamp(1rem, 0.2958rem + 3.0047vw, 3rem);
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 1.2;
}
.italic {
  font-family: 'Dancing Script', cursive;
  font-size: clamp(2rem, 0.9437rem + 4.507vw, 5rem);
  line-height: 0.5;
  font-weight: 600;
  color: var(--secondary-2);
  padding: 0 0.5rem;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  height: 100%;
}
.label {
  font-size: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem);
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.input {
  width: 100%;
  height: 2rem;
  border: 2px solid #f3b7d3ab;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.content {
  width: 100%;
  height: 10rem;
  border: 2px solid #f3b7d3ab;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.input,
.content,
.input::placeholder,
.content::placeholder {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: var(--font-color-1);
}
.input::placeholder,
.content::placeholder {
  color: var(--font-color-2);
}
.submit {
  width: 100%;
  height: 3rem;
  border: 1px solid #cccccc00;
  color: #ff92a4;
  border-radius: 5px;
  padding: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: var(--font-color-1);
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heart {
  padding: 1rem;
  line-height: 0;
}
.submit:hover {
  background-color: #ff96a783;
  color: var(--font-color-1);
}

@media screen and (max-width: 768px) {
  .addCard {
    padding: 1rem 0.5rem;
  }
}
