.addCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 40rem;
  height: 100%;
  margin-bottom: 2rem;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
}
.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.label {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.input {
  width: 100%;
  height: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.content {
  width: 100%;
  height: 10rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.submit {
  width: 100%;
  height: 3rem;
  border: 1px solid #ccc;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #000000;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heart {
  padding: 1rem;
}
.submit:hover {
  background-color: var(--secondary-1);
  color: #000000;
}
